<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./styles/Britt-portfolio.css">

    <script src="/portfolio/views/scripts/Britt-nav.js"></script>
    <script src="/portfolio/views/scripts/Britt-footer.js"></script>

    <title>Document</title>
</head>
<body class="bodyColor">
    <nav-component></nav-component>
    <br>
    <div class="bodyContainer">
    <h1>Hello</h1>
 
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, aut molestiae blanditiis repudiandae dolore quos, tenetur quis assumenda rem provident fugiat expedita deleniti alias fuga a facere necessitatibus veritatis veniam.</p>


    </div>
    <footer-component></footer-component>
</html>